<div class="container">

  <div class="banner">
    A Song Of Ice And Fire
  </div>


  <div class="filter-wrapper">

    <div>
      <select (change)="onOptionsSelected($event.target.value)">
        <option *ngFor="let filter of filters" value={{filter}}>
          {{filter}}
        </option>
      </select>
    </div>

    <div class="filterText">Showing Results for - {{ selectedFilter }}</div>


    <nav class="pager">
      <ul class="pagination" [style.font-weight]="'500'">

        <li class="page-item" [class.disabled]="isFirstPage">
          <a class="page-link" (click)="previous()">
            Previous
          </a>
        </li>

        <li class="page-item"><a class="page-link">{{ previousPage }} </a></li>
        <li class="page-item active"><a class="page-link"> {{ currentPage }} </a></li>
        <li class="page-item"><a class="page-link">{{ nextPage }} </a></li>

        <li class="page-item" [class.disabled]="isLastPage">
          <a class="page-link" (click)="next()">
            Next
          </a>
        </li>

      </ul>
    </nav>

  </div>

  <div class="loader" *ngIf="isLoading">

  </div>

  <div class="row justify-content-start no-gutters">
    <ng-container *ngFor="let item of all">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <card [item]="item"></card>
      </div>
    </ng-container>
  </div>

</div>

<nav class="pager">
  <ul class="pagination" [style.font-weight]="'500'">

    <li class="page-item" [class.disabled]="isFirstPage">
      <a class="page-link" (click)="previous()">
        Previous
      </a>
    </li>

    <li class="page-item"><a class="page-link">{{ previousPage }} </a></li>
    <li class="page-item active"><a class="page-link"> {{ currentPage }} </a></li>
    <li class="page-item"><a class="page-link">{{ nextPage }} </a></li>

    <li class="page-item" [class.disabled]="isLastPage">
      <a class="page-link" (click)="next()">
        Next
      </a>
    </li>

  </ul>
</nav>
